.wrapper {
    height: 100%;
    min-height: 100vh;
}

.centered-img {
    display: flex;
    justify-content: center;
}


/* stylying for search button */

.button-search {
    background-color: black;
    color: #fff;
}

.button-search {
    /* padding: 20px; */
    background-color: black;
    color: #fff;
    border: none;
}


/* game title, position for img */
.centered-img {
    display: flex;
    justify-content: center;
}
.game-title {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: -50px;

    background-color: black;
    color: #fff;
}

.game-img {
    display: flex;
    justify-content: center;
    align-items: center;

   margin-top: -20px;
}


.table-size{
    display: flex;
    justify-content: center;

    /* width: 40em; */
    margin-top: -20px;  /* */
}

/* buttons */
.buttons {
    padding: 20px;
}

.clear-button {
    margin-left: 70px;
    padding: 10px 30px 10px;

}

.next-button {
    margin-right: 70px;
    padding: 10px 50px 10px;
}

.create-btn {
    display: flex;
    justify-content: center;

    padding-top: 15px;
}

.create-button {
    padding: 10px 50px 10px;
}

.event-btn {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.minutes-input {
    padding: 8px;
}

.hide {
    display: none;
}

.card-content {
    background-color: #F3F3F3;
}

.card {
    background-color: #F3F3F3;
}

.box {
    background-color: #F3F3F3;
}

.table {
    background-color: #F3F3F3
}

/* ---------------- */
@media only screen and (max-width: 600px) {
    .table-info {
        width: 20px;
    }

    .table-text {
        font-size: 14px;
    }

    .clear-button {
        padding: 15px;
    }

    .next-button {
        padding: 15px;
    }
}