.centered-img {
    display: flex;
    justify-content: center;
}
/* stylying for search button */
.padding-search {
    padding-top: 22px;
    padding-left: 5px;

    border: none;
}

.button-search {
    padding: 20px;
    background-color: black;
    color: #fff;

    border: none;
}

.button-search:hover {
    background-color: #fff;
    color: black;
}

/* game title, position for img */
.game-title{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: -50px;

    background-color: black;
    color: #fff;
}

.game-img {
    display: flex;
    justify-content: center;
    align-items: center;

   margin-top: -20px;
}


.table-info {
    display: flex;
    justify-content: center;
}

/* buttons */
.buttons {
    display: flex;
    justify-content: space-between;

    padding-top: 30px;
}

.clear-button {
    margin-left: 70px;
    padding: 10px 50px 10px;
}

.next-button {
    margin-right: 70px;
    padding: 10px 50px 10px;

}

.create-btn {
    display: flex;
    justify-content: center;

    padding-top: 15px;
}

.create-button {
    padding: 10px 50px 10px;
}

.event-btn {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.hide {
    display: none;
}